body{
    border: 0px;
    /* background-color: #ffc8dd; */
}
header{
    background-color: #2E0E33;
    padding: 6px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Dancing Script', cursive;

}
li{
    margin-right:50px ;
    font-size: x-large;
    /* margin-left: 40px; */
    display: inline;
}
.product-view{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.product-item{
    margin: 2px;
    border: 3px solid #264653;
    background-color: #bde0fe;
    border-radius: 10%;
    text-align: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
}

img{
    width:350px;
    height: 300px;
    border-radius: 10%;
    /* background-color: #2E0E33; */
}
footer{
    background-color: #2E0E33;
    padding: 4px;
    color: white;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: x-large;
}